* {

    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Pattaya", sans-serif;
      
    }
    
    html
    {
        width: 100vw;
        height: 100vh;
        font-size: 62.5%;
        overflow-x: hidden;
        background-color: antiquewhite;
    }    

    .logo2 {
        width: 150vw;
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items:flex-end;
        background-color: antiquewhite;
        position: fixed;
        padding-left: 30rem;
    }    

    .logo2 .list-menu{

   width: 2200px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    }